.dropdown-width{
    width: 100% !important;
}
.radio-width{
    background-size: 5%;
}
.border-middle-card{
    background-color: rgba(214, 234, 248,0.5);
    border: 1px solid rgb(97, 188, 253) !important ;
}
.middle-card{
    background-color: rgba(133, 193, 233, 0.65);
}
.logo-width{
    width: 6%;
    height: 6%;
    margin-top: -5px;
}
.second-logo-width{
    width: 45%;
    height:45%;
    margin-top: -18px;
}
.logo-width-lg{
    width: 10%;
    height: 10%;
}